*~
*.opensdf
*.sdf
*.suo
*.user
Debug/
x64/
ipch/
*.dll
*.exp
*.pdb
*.lib
*.ll
Materials/
Thumbs.db
*.mp4
*.zip
\#*\#
*.so
conf/fo.xsl
doc/tech/titlepage.xsl
conf/mk.conf
tmp/
build/
*.if
titlepage.xsl
dwa
aplcore
*.o
config.dyalog
CONTINUE
*.bin
*.ptx
*.gpu
*.h
attic/*.pdf
*.obj
*.log
*.cpp
/tests/.vs
