*.pdf
*~
*.opensdf
*.sdf
*.suo
*.user
Debug/
x64/
ipch/
*.dll
*.exp
*.pdb
*.lib
*.ll
Materials/
Thumbs.db
*.mp4
*.zip
\#*\#
*.so
conf/fo.xsl
doc/tech/titlepage.xsl
conf/mk.conf
Scratch/
Build/
*.if
titlepage.xsl
dwa
aplcore
*.o
config.dyalog
CONTINUE
*.aux
*.log
*.out
codfns.tex
*.toc
*.bbl
*.blg
codfns.dyalog
load.dyapp
test.dyapp
util.dyalog
